/************************************ Large Display ************************************/
@media (min-width: 992px) {
    .small-display {
        display: none !important;
    }


}

/************************************ Medium Display ************************************/
@media (min-width: 768px) and (max-width: 991.98px) {
    .large-display {
        display: none !important;
    }

    .frm {
        margin-bottom: 23px;
    }
    /**************************** NAVBAR ****************************/
    .navbar-brand h3 {
        font-size: 44px;
    }
    .bg .navbar-brand h3 {
        font-size: 44px;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .bg .navbar-brand {
        margin: 0 auto;
    }

    .navbar button {
        outline: none;
    }

    .nav-item {
        text-align: center;
        margin-bottom: 7px;
    }

    .navbar-collapse {
        background: rgb(35 147 104);
    }

    /**************************** BANNER ****************************/
    .banner-text h2 span {
        font-size: 70px;
    }

    .banner-text {
        padding-top: 45px;
    }

    .banner-text h4 {
        padding-bottom: 10px;
    }

    .banner-text h1 {
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #banner {
        padding-top: 90px;
    }
    /**************************** ABOUT ****************************/
    #about {
        padding-top: 62px;
        padding-bottom: 42px;
    }

    .about-text h3 {
        margin-top: 15px;
    }

    /**************************** EXPERIENCE ****************************/
    .expe-last {
        margin: 0 auto;
        width: 30%;
        margin-bottom: 10px;
    }

    .expe-btn a {
        font-size: 17px;
        padding: 11px 22px;
    }
    /**************************** SERVICE ****************************/
    .service-item {
        margin-bottom: 43px;
    }

    .service-item h4 {
        font-size: 17px;
    }

    .service-item p {
        font-size: 14px;
    }

    #service {
        padding: 38px 0;
    }
    /**************************** PORTFOLIO ****************************/
    #portfolio {
        padding: 55px 0;
    }

    #portfolio .mix-btn {
        font-size: 17px;
        margin: 6px 4px
    }
    .card-over a {
        font-size: 25px;
    }

    /**************************** FEEDBACK ****************************/
    #feedback {
        padding-bottom: 80px;
        padding-top: 50px;
    }
    #feedback .w-100{
        width: 60%!important;
    }
    .feed-img img{
        margin: 0 auto;
    }
    .feed-cmt p {
        font-size: 14px;
        padding: 0 0px;
        font-weight: 300;
    }

    .feed-cmt h4 {
        font-size: 11px;
        bottom: -26px;
        font-weight: 400;
    }

    .feed-cmt h5 {
        bottom: -25px;
        font-size: 10px;
    }

    .feed-row {
        padding-bottom: 35px;
    }

    .next {
        right: 25%;
    }

    .prev {
        right: 65%;
    }

    /**************************** BLOG ****************************/
    #blog {
        padding: 30px 0;
    }

    .top-blog-text h3 {
        font-size: 14px;
        padding-top: 0;
    }

    .top-blog-text h5 {
        font-size: 10px;
    }

    .top-blog-text a {
        font-size: 14px;
    }

    .right-blog-text p {
        font-size: 13px;
        line-height: 26px;
    }

    .right-blog-img-over i {
        font-size: 20px;
    }

    .right-blog-text h4 {
        font-size: 14px;
    }

    .right-img .img-fluid {
        max-width: 200% !important;
    }

    .blog-over i {
        font-size: 20px;
    }

    .top-blog.mb-3.slick-slide.slick-current.slick-active {
        outline: none;
    }

    .top-blog.mb-3.slick-slide.slick-current {
        outline: none;
    }

    .top-blog.mb-3.slick-slide {
        outline: none;
    }

    .see-more a {
        font-size: 18px;
        padding: 8px 18px;
    }
    /**************************** CONTACT ****************************/
    #contact {
        padding-top: 45px;
        padding-bottom: 75px;
    }

    .frm {
        margin-bottom: 23px;
    }
    /**************************** FOOTER ****************************/
    #footer p {
        padding: 0;
    }
}

/************************************ Small Display ************************************/
@media (min-width: 576px) and (max-width: 767.98px) {
    .large-display {
        display: none !important;
    }

    .frm {
        margin-bottom: 23px;
    }

    /**************************** NAVBAR ****************************/
    .navbar-brand h3 {
        font-size: 44px;
    }
    .bg .navbar-brand h3 {
        font-size: 44px;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .bg .navbar-brand {
        margin: 0 auto;
    }

    .navbar button {
        outline: none;
    }

    .nav-item {
        text-align: center;
        margin-bottom: 7px;
    }

    .navbar-collapse {
        background: rgb(35 147 104);
    }

    /**************************** BANNER ****************************/
    .banner-text h2 span {
        font-size: 48px;
    }

    .banner-text {
        padding-top: 15px;
    }

    .banner-text h4 {
        padding-bottom: 10px;
    }

    .banner-text h1 {
        font-size: 37px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #banner {
        padding-top: 90px;
    }

    /**************************** ABOUT ****************************/
    #about {
        padding-top: 62px;
        padding-bottom: 42px;
    }

    .about-text h3 {
        margin-top: 15px;
    }

    /**************************** EXPERIENCE ****************************/
    .expe-last {
        margin: 0 auto;
        width: 30%;
        margin-bottom: 10px;
    }

    .expe-btn a {
        font-size: 17px;
        padding: 11px 22px;
    }
    /**************************** SERVICE ****************************/
    .service-item {
        margin-bottom: 43px;
    }

    .service-item h4 {
        font-size: 17px;
    }

    .service-item p {
        font-size: 14px;
    }

    #service {
        padding: 38px 0;
    }
    /**************************** PORTFOLIO ****************************/
    #portfolio {
        padding: 55px 0;
    }

    #portfolio .mix-btn {
        font-size: 17px;
        margin: 6px 4px
    }
    .card-over a {
        font-size: 25px;
    }

    /**************************** FEEDBACK ****************************/
    #feedback {
        padding-bottom: 80px;
        padding-top: 50px;
    }
    #feedback .w-100{
        width: 60%!important;
    }
    .feed-img img{
        margin: 0 auto;
    }
    .feed-cmt p {
        font-size: 14px;
        padding: 0 0px;
        font-weight: 300;
    }

    .feed-cmt h4 {
        font-size: 11px;
        bottom: -26px;
        font-weight: 400;
    }

    .feed-cmt h5 {
        bottom: -25px;
        font-size: 10px;
    }

    .feed-row {
        padding-bottom: 35px;
    }

    .next {
        right: 25%;
    }

    .prev {
        right: 65%;
    }

    /**************************** BLOG ****************************/
    #blog {
        padding: 30px 0;
    }

    .top-blog-text h3 {
        font-size: 14px;
        padding-top: 0;
    }

    .top-blog-text h5 {
        font-size: 10px;
    }

    .top-blog-text a {
        font-size: 14px;
    }

    .right-blog-text p {
        font-size: 13px;
        line-height: 26px;
    }

    .right-blog-img-over i {
        font-size: 20px;
    }

    .right-blog-text h4 {
        font-size: 14px;
    }

    .right-img .img-fluid {
        max-width: 200% !important;
    }

    .blog-over i {
        font-size: 20px;
    }

    .top-blog.mb-3.slick-slide.slick-current.slick-active {
        outline: none;
    }

    .top-blog.mb-3.slick-slide.slick-current {
        outline: none;
    }

    .top-blog.mb-3.slick-slide {
        outline: none;
    }

    .see-more a {
        font-size: 18px;
        padding: 8px 18px;
    }
    /**************************** CONTACT ****************************/
    #contact {
        padding-top: 45px;
        padding-bottom: 75px;
    }

    .frm {
        margin-bottom: 23px;
    }
    /**************************** FOOTER ****************************/
    #footer p {
        padding: 0;
    }

}

/************************************ Extra Small Display ************************************/
@media (max-width: 575.98px) {

    /**************************** NAVBAR ****************************/
    .navbar-brand h3 {
        font-size: 44px;
    }
    .bg .navbar-brand h3 {
        font-size: 44px;
    }

    .navbar-brand {
        margin: 0 auto;
    }

    .bg .navbar-brand {
        margin: 0 auto;
    }

    .navbar button {
        outline: none;
    }

    .nav-item {
        text-align: center;
        margin-bottom: 7px;
    }

    .navbar-collapse {
        background: rgb(35 147 104);
    }

    .large-display {
        display: none !important;
    }

    /**************************** BANNER ****************************/
    .banner-text h2 span {
        font-size: 42px;
    }

    .banner-text {
        padding-top: 15px;
    }

    .banner-text h4 {
        padding-bottom: 10px;
    }

    .banner-text h1 {
        font-size: 27px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #banner {
        padding-top: 120px;
    }

    /**************************** ABOUT ****************************/
    .about-text h3 {
        margin-top: 15px;
    }

    #about {
        padding: 4px 0;
        margin-top: 14px;
    }

    /**************************** EXPERIENCE ****************************/
    #expe {
        padding: 36px 0;
    }

    .expe-last {
        width: 131px;
        height: 168px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .expe-btn a {
        font-size: 14px;
        padding: 8px 11px;
    }

    /**************************** BLOG ****************************/
    #blog {
        padding: 30px 0;
    }

    .top-blog-text h3 {
        font-size: 14px;
        padding-top: 0;
    }

    .top-blog-text h5 {
        font-size: 10px;
    }

    .top-blog-text a {
        font-size: 14px;
    }

    .right-blog-text p {
        font-size: 13px;
        line-height: 26px;
    }

    .right-blog-img-over i {
        font-size: 20px;
    }

    .right-blog-text h4 {
        font-size: 14px;
    }

    .right-img .img-fluid {
        max-width: 200% !important;
    }

    .blog-over i {
        font-size: 20px;
    }

    .top-blog.mb-3.slick-slide.slick-current.slick-active {
        outline: none;
    }

    .top-blog.mb-3.slick-slide.slick-current {
        outline: none;
    }

    .top-blog.mb-3.slick-slide {
        outline: none;
    }

    .see-more a {
        font-size: 14px;
        padding: 8px 11px;
    }

    /**************************** SERVICE ****************************/
    .service-item {
        margin-bottom: 43px;
    }

    .service-item h4 {
        font-size: 17px;
    }

    .service-item p {
        font-size: 14px;
    }

    #service {
        padding: 38px 0;
    }

    /**************************** FEEDBACK ****************************/
    #feedback {
        padding-bottom: 80px;
        padding-top: 50px;
    }

    #feedback .w-100{
        width: 60%!important;
    }
    .feed-img img{
        margin: 0 auto;
    }
    .feed-cmt p {
        font-size: 14px;
        padding: 0 0px;
        font-weight: 300;
    }

    .feed-cmt h4 {
        font-size: 11px;
        bottom: -26px;
        font-weight: 400;
    }

    .feed-cmt h5 {
        bottom: -25px;
        font-size: 10px;
    }

    .feed-row {
        padding-bottom: 35px;
    }

    .next {
        right: 25%;
    }

    .prev {
        right: 65%;
    }

    /**************************** PORTFOLIO ****************************/
    #portfolio {
        padding: 55px 0;
    }

    #portfolio .mix-btn {
        font-size: 17px;
        margin: 6px 4px
    }
    .card-over a {
        font-size: 23px;
    }

    /**************************** CONTACT ****************************/
    #contact {
        padding-top: 45px;
        padding-bottom: 75px;
    }

    .frm {
        margin-bottom: 23px;
    }
    /**************************** FOOTER ****************************/
    #footer p {
        padding: 0;
    }

}